.page-title {
  text-align: center;
}

.delete-button {
  margin-bottom: 5px;
}

.delete-button:hover {
  background-color: lightblue;
}

.items:hover{
  background-color: lightgray;
  margin-top: 0px;
}

.items {
  display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 1rem;
 grid-auto-rows: minmax(50px, auto);
}
