.page-title {
  text-align: center;
}

.delete-button {
  margin-bottom: 5px;
}

.delete-button:hover {
  background-color: lightblue;
}

.items {
  border-bottom: 1px solid black;
  list-style-type: none;
}

.items:hover{
  background-color: lightgray;

}