.page-title {
  text-align: center;
}

.delete-button {
  margin-bottom: 5px;
}

.delete-button:hover {
  background-color: lightblue;
}

.items {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 1rem;
 grid-auto-rows: minmax(50px, auto);
 background-color: #2196F3;
 padding: 10px;
}

.unordered-list {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}